* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevenir scroll indesejado no body */
}

.container {
    display: flex;
    height: 90vh; /* Altura total da viewport */
    width: 100%;
    overflow: hidden;
    gap: 20px; /* Adiciona um espaço entre o painel e o mapa */
    padding: 20px; /* Adiciona padding ao redor do container */
}

#info-panel {
    width: 300px;
    background-color: #181717; /* Fundo branco para o painel */
    padding: 20px; /* Espaçamento interno */
    z-index: 1; /* Garante que o painel fique acima do mapa se houver sobreposição */
    overflow-y: auto; /* Adiciona scroll se o conteúdo for muito longo */
    flex-shrink: 0; /* Previne que o painel diminua */
    border-radius: 8px;
}

.info-content {
    position: sticky; /* Conteúdo do painel fixo ao scroll do painel */
    top: 0; /* Fixa no topo do painel com scroll */
}

#info-panel h2 {
    color: #333;
    padding-bottom: 10px;
    margin-top: 0;
}

#info-panel p {
    color: #555;
    line-height: 1.6;
}

#map-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    border-radius: 8px;
}

#mapdiv {
    width: 90%;
    height: 90%;
    margin-top: 2rem;
}


